<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subject.Title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.Description %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
